app/windows/** linguist-vendored
app/linux/** linguist-vendored
app/macos/** linguist-vendored
app/ios/** linguist-vendored
app/android/** linguist-vendored
app/android/gradlew text eol=lf
app/android/gradle/wrapper/gradle-wrapper.jar binary
app/web/** linguist-vendored